/*TODO 1 MESSAGING AREA: DATA D'ENVIAMENT I L'HORA ✅*/
/*TODO 10 GRID MAIN LAYOUT ✅*/

@media only screen and (max-width: 1980px){
    body{
        display: flex;
        justify-content: center;
    }

    .app-container {
        display: grid;
        grid-template-rows: 60px 300px 50px 150px;
        grid-template-areas:
        "header"
        "main"
        "text"
        "keyboard";
        width: 360px;
    }

    .app-messagingArea {
        grid-area: main;
        display: grid;
        overflow-y: scroll;
        overflow-x: hidden;
        grid-template-columns: repeat(3,2fr); /*repeat(3,auto)*/
        grid-row-gap: 5px;
        justify-items: flex-end;
        align-content: start;
        margin: 5px;
        overflow-wrap: anywhere;
    }
}

/*TODO 16 MESSAGING AREA ✅*/
/*::-webkit-scrollbar{
    display: none;
}*/
/*TODO 17 TEXT AREA ✅*/

/*TODO 18 KEYBOARD AREA ✅*/


/*TODO 11 DO THE KEYBOARD WITH FLEXBOX ✅*/
/*TODO 12 RESPONSIVE WITH CHROME: SAMSUNG S5 ✅*/

    .app-container {
        background-image: url(../images/background.png);
        background-size: cover;
        background-repeat: repeat;
        display: grid;
        grid-template-rows: 60px 360px 50px 150px;
        grid-template-areas:
        "header"
        "main"
        "text"
        "keyboard";
    }

    .app-header {
        grid-area:header;
        background-color: darkgreen;
        margin-top: -8px;
        margin-left: -8px;
        margin-right: -8px;
        display: flex;
    }

    .app-messagingArea {
        display: flex;
        flex-direction: column;
        min-width: 330px;
        justify-self: self-end;
        grid-area: main;
        /* display: grid; */
        overflow: scroll;
        justify-items: center;
}

.app-textArea {
    grid-area: text;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: #efefef;
}

.app-textArea > textarea {
    background-color: white;
    box-sizing: border-box;
    width: 80%;
    margin: 5px 5px;
    border: 1px solid;
    border-radius: 6px;
    align-self: center;
    font-size: large;
}

.app-textArea > input[type="button"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    background: #fafafa;
    font-size: 14px;
    border-radius: 0.3em;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    height: 42px;
}

.app-keyboardArea {
    grid-area:keyboard;
    background-color: #efefef;
}


/*TODO 13 VISTA DESKTOP: CENTRAT HORIZONTALMENT*/
/*NO ENTENC PERQUÈ A NES HEIGHT HI HA UN SCROLL!*/
/*TODO 14 KEYS WITH HOVER EFFECTS WHEN CLICKING*/

/*TODO 15 KEYBOARD TO NONE ✅*/
/*KEYBOARDS*/
#keyboardMayus {
    display: none;
}

#keyboardNum {
    display: none;
}

#keyboardSymb {
    display: none;
}

#keyboardGif{
    display: none;
}

.row{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    height:30px;
}

.keyboard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    background: #fafafa;
    float: left;
    font-size: 14px;
    border-radius: 0.3em;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.space{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    float: left;
    font-size: 14px;
    border-radius: 0.3em;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.special{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    float: left;
    font-size: 14px;
    border-radius: 0.3em;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    background: #fafafa;
    float: left;
    font-size: 14px;
    border-radius: 0.3em;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    background: #fafafa;
    float: left;
    font-size: 14px;
    border-radius: 0.3em;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.mayus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    background: #fafafa;
    float: left;
    font-size: 14px;
    border-radius: 0.3em;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}
.convo{
    display: flex;
    background-color: darkseagreen;
    justify-content: flex-end;
    border-radius: 5px;
    margin:10px;
    font-size: large;
}

#fotogram{
    height: 50px;
    border-radius: 50px;
    margin:10px;
}

.nomgram{
    display: flex;
    flex-direction: column;
    align-self:center;
    font-size: large;
    font-weight: bold;
}

#sub{
    font-size: small;
    font-weight: normal;
}

.message{
    background-color:  #dcfbc4;
    /* max-width: max-content; */
    min-width: 97px;
    /* min-width: fit-content; */
    /* grid-column-start: 3; */
    align-self: self-end;
    border-top-left-radius: 15px 20px;
    border-bottom-left-radius: 15px 20px;
    border-bottom-right-radius: 15px 20px;
}

.time{
    text-align-last: end;
    font-size: 10px;
    margin-right: 6px;
    margin-bottom: 3px;
    margin-top: inherit;
    color:  #b2b2b5;
}

.textContent{
    font-size: 15px;
    flex: auto;
    display: flex;
    align-self: center;
    margin-top: 6px;
    margin-left: 9px;
    margin-bottom: 1px;
    margin-right: 10px;
}

#date {
    background-color: #e4f4fc;
    color: #575c64;
    border-radius: 3px;
    /* font-size: smaller; */
    /* text-align-last: center; */
    align-self: center;

}

.otro{
    background-color: #efefef;
    max-width: max-content;
    min-width: fit-content;
    /* grid-column-start: 3; */
    border-top-left-radius: 1px 20px;
    border-bottom-left-radius: 15px 20px;
    border-top-right-radius: 15px 20px;
    border-bottom-right-radius: 15px 20px;
}