@media screen and (min-width: 320px) {
    #container {
        width: 320px;
        height: 40px;
        box-sizing: border-box;
        padding: 9px 18px 11px;
        margin: 5px 10px;
        border: 1px solid;
        border-radius: 21px;
        display: flex;
        justify-content: flex-end;
    }
}